body 
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: block;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica;
    overflow-x:hidden !important;
}

.body-container
{

//background-color: #9B2929
;
    display: grid;
    grid-template-columns: 8vw 1fr 1fr 1fr 8vw;
    grid-template-areas:
    "header header header header header"
    ". main1 main1 main1 empty"
    ". main1 main1 main1 empty"
    "footer footer footer footer footer";
     grid-template-rows: . . . . .;
    width: 100vw;
    overflow-x:hidden !important;
}	
	
	
.grid-header
{
    //justify-content: center;
    
    margin-top: 2em;
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column: 2 / 5;
    grid-template-areas: 
    ". . . . .";
}

.grid-header a
{
    background-color: #555555;
    color: #F3F3F3;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
    height: 3em;

    display:flex;
    justify-content:center;
    align-items:center
}




