body {
background: #ffffff url(images/bg.jpg) repeat-x;
}
#wrap {
  width700px;
    margin:0px 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #602020;
}



}
/* Header */
#header {
  height:242PX;
  margin:0px 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color: #262626;
}
